nav .container{
  flex-direction: row-reverse;
}

*{
  /* flex-direction: row-reverse; */
  text-align: right;
}

.dir-ltr {
  direction: ltr;
  text-align: left;
}

.form-check .form-check-label span.form-check-sign {
  float: right;
  right: -10px;
}

label.form-check-label {
  padding-right: 25px;
}

.form-check .form-check-sign:before{
  right: 10px;
  left: auto;
}

.bmd-form-group .bmd-label-floating{
  right: 0;
}

.form-control-feedback {
  left: 0;
}

.has-success .text-log{
  color: #4caf50;
}
.has-danger .text-log{
  color: #f44336;
}

.login-page .page-header .container {
  padding-top: 0;
}

/* loading */
.loader,
.loader:before,
.loader:after {
  content: "...";
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 5px;
  margin: 10px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.progress{
  height: 5px !important;
  
  /* background: none;
  box-shadow: none; */
  direction: ltr;
}

.progress .progress-bar {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loadProgrees 1.5s infinite ease-in-out;
  animation: loadProgrees 1.5s infinite ease-in-out;
}

@keyframes loadProgrees {
  0%{
    width: 0%;
    margin-left: 0%;
  }
  50% {
    width: 40%;
    /* margin-left: 30%; */
  }
  100% {
    width: 0%;
    margin-left: 100%;
  }
}
/* loading */
nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.fixed-top.menu-panel{
  background: #fff !important;
  color: black;
}
nav .nav-pills .nav-item i {
  font-size: 25px;
  padding: 0;
  width: 25px;
  margin: 0 0 0 10px;
  float: right;
}

nav li a {
  height: 45px;
}

nav #cart, ul.user-login li a{
  min-width: 30px !important;
}

nav.navbar-transparent *{
  color: #fff;
}

nav:not(".navbar-transparent") *{
  color: #fff;
}

.dir-ltr{
  direction: ltr;
}
.feedback-error{
  min-height: 25px;
}

@media (max-width: 830px){
  nav .nav-pills .nav-item .nav-link{
    min-width: 30px;
    padding: 5px;
  }
  nav{
    direction: ltr;
  }
  nav ul.nav.nav-pills.nav-pills-rose, nav .navbar-wrapper{
    direction: rtl;
  }
  ul.nav.nav-pills.nav-pills-rose.user-login {
    padding-top: 10px;
  }
}
/* button.navbar-toggler{
  display: block;
} */
.navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
  box-shadow: none !important;
  background-color: transparent !important;
  color: #fff !important;
}
